body {
    background-color: #171a21;
}

.btn {
    margin-top: 10px;
    font-size: 25px;
    color: #171a21;
}

.header {
    background-color: #1b2838;
    background-size: auto;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    font-family: 'Silkscreen';
    padding: 0 5px ;
}

.card-header {
    background-color: #1b2838;
    color: #ffffff;
    font-family: 'Silkscreen';
    text-align: center;
}

.card-body {
    font-size: 25px;
    text-align: center;
    width: 250px;
}

.form-input {
    text-align: center;
}

.searchcard {
    align-items: center;
    background-color: #171a21;
    border: none;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

input[type=text] {
    color: #ffffff;
}

.card {
    width: 750px;
    align-items: center;
    background-color: #1b2838;
    border: none;
    margin-top: 25px;
   
}

.card-title {
    text-align: center;
}

.card-action {
    text-align: center;
}

.footer {
    background-color: #1b2838;
    color: #ffffff;
    text-align: center;
    height: 70px;
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}


.content-card{
    width: 400px;
    height: 400px;
    border: 10px;
    border-color: black;
}


@media only screen and (min-width: 650px) {
    .content {
      flex-wrap: wrap;
    }
  }

@media only screen and (min-width: 1025px) {
    .content {
      flex-wrap: wrap;
    }
  }

